﻿
<#@ assembly name="Microsoft.SqlServer.Management.Sdk.Sfc" #>
<#@ assembly name="Microsoft.SqlServer.ConnectionInfo" #>
<#@ assembly name="Microsoft.SqlServer.Smo" #>
<#@ assembly name="System.Xml"#>
<#@ assembly name="System.Data"#>
<#@ import namespace="Microsoft.SqlServer.Management.Smo"#>
<#@ import namespace="Microsoft.SqlServer.Management.Common"#>
<#@ import namespace="System.Data.SqlClient"#>
<#@ import namespace="System.Xml"#>
<#@ include file="Common.tt" #>
<#var smo = SMO.Connect();#>
<#+
class SMO : IDisposable
	{
		private ServerConnection _conn;
		private Server _server;
		private Database _database;

		private SMO()
		{
			_conn = new ServerConnection();
			_conn.LoginSecure = false;
			_conn.Login = "sa";
			_conn.Password = "post+Office2";
			_conn.ServerInstance = "11v2";
			_server = new Server(_conn);
			_conn.Connect();
			_database = _server.Databases["CharityPlanner"];
		}

		public static SMO Connect()
		{
			return new SMO();
		}

		public TableInfo GetTable(string name)
		{
			var table = _database.Tables[name];
			var ti = new TableInfo();
			ti.Name = name;

			foreach(ColumnInfo ci in GetColumns(name))
			{
				ti.Add(ci);
			}
			return ti;
		}

		public List<TableInfo> GetTables()
		{
			var tables = _database.Tables;
			var tic = new List<TableInfo>();

			foreach(Table table in tables)
			{
				var ti = new TableInfo();
				ti.Name = table.Name;

				foreach(ColumnInfo col in GetColumns(table.Name))
				{
					ti.Add(col);
				}
				tic.Add(ti);
			}
			return tic;
		}


		private List<ColumnInfo> GetColumns(string tableName)
		{
			var cols = new List<ColumnInfo>();

			foreach(Column col in _database.Tables[tableName].Columns)
			{
				var ci = new ColumnInfo();
				ci.Name = col.Name;
				ci.DataType = GetDataType(col);
				ci.Default =  null; //Stub
				cols.Add(ci);
			}
			return cols;
		}

		private ColumnInfo GetColumn(string tableName, string columnName)
		{
			var col = _database.Tables[tableName].Columns[columnName];
			var ci = new ColumnInfo();
			ci.Name = col.Name;
			ci.DataType = GetDataType(col);
			ci.Default = null; //Stub

			return ci ;
		}

		private bool _disposed;

		protected virtual void Dispose(bool disposing)
		{
			if (!_disposed)
			{
				if (disposing)
				{
					_database = null;
					_server = null;
					_conn.Disconnect();
				}
			}
			_disposed = true;
		}

		public void Dispose()
		{
			Dispose(true);
			GC.SuppressFinalize(this);
		}

		private string GetDataType(Column c)
		{
			if(c.DataType.Name.Equals("int"))
				return "int?";
			if(c.DataType.Name.Equals("varchar"))
				return "string";
			 if(c.DataType.Name.Equals("nvarchar"))
				return "string";
			 if(c.DataType.Name.Equals("varcharmax"))
				return "string";
			if( c.DataType.Name.Equals("nvarcharmax"))
				return "string";
			if(c.DataType.Name.Equals("bit"))
				return "bool";
			if(c.DataType.Name.Equals("money"))
				return "decimal?";
			if(c.DataType.Name.Equals("datetime"))
				return "DateTime?";
			return "";
		}

		private string GetDefaultValue(Column c)
		{
			return null;
		}
	}
#>